body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4f7;
}

.Reseñas {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
}

.Nombre {
    padding-left: 10px;
}
.Blanco-2 {
    background: white;
    border-radius: 10px;
    margin-top: -426px;
    align-items: right;
    padding: 20px;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.Blanco {
    background: white;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 1;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Morada {
    background: #7a4dd8;
    border-radius: 10px;
    color: white;
    padding: 20px;
    grid-column: span 2;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Gris {
    background: #48556a;
    border-radius: 10px;
    width: 300px;
    color: white;
    padding: 20px;
    grid-column: span 2;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}

.Negro {
    background: #19212e;
    color: white;
    width: 650px;
    border-radius: 10px;
    padding: 20px;
    grid-column: span 2;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Subtitulo {
    opacity: 0.7;
    font-size: 13px;
    padding-left: 10px;
}

.Titulo {
    font-weight: bold;
    margin: 15px 0;
    padding-left: 10px;
}

.Texto {
    font-size: 14px;
    padding-left: 10px;
    line-height: 1.5;
}

@media (min-width: 768px) {
    .Reseñas {
        flex-direction: r;
    }
}