body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f4f7;
    margin: 0;
    padding: 40px;
}

.Reseñas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    max-width: 1200px;
    margin: auto;

}

.Nombre {
    padding-left: 10px;
}

.Blanco {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Blanco-2 {
    background: white;
    border-radius: 10px;
    grid-column: 4;
    grid-row: 1 / 3;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Morada {
    background: #7a4dd8;
    border-radius: 10px;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    background-image: url(/image/Comilas.png);
    background-repeat: no-repeat;
    background-position: top 20px right 50px;
    background-size: 120px;
}

.Gris {
    background: #48556a;
    border-radius: 10px;
    color: white;
    grid-column: 3;
    grid-row: 1;
    padding-left: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    
}

.Negro {
    background: #19212e;
    color: white;
    border-radius: 10px;
    grid-column: span 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.Subtitulo {
    opacity: 0.7;
    font-size: 13px;
    padding-left: 10px;
}

.Titulo {
    font-weight: bold;
    margin: 15px 0;
    padding-left: 10px;
}

.Texto {
    font-size: 14px;
    padding-left: 10px;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .Reseñas {
        grid-template-columns: 1fr;
    }
    .Reseñas {
        grid-column: auto;
        grid-row: auto;   
}
    .Morada { order: 1; }
    .Gris { order: 2; }
    .Blanco { order: 3; }
    .Negro { order: 4; }
    .Blanco-2 { order: 5; }
}

